@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c');
@import url('https://fonts.googleapis.com/css?family=Baloo+Bhaina');

body {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  padding: 0;
  margin: 0;
  background-color: #1f2d3c;
}

label { 
  display: block; 
  width: 200px; 
  padding-top: 20px;
}

button {
  width: 100px;
  height: 30px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 2px;
  background-color: black;
  color: white;
  border: 2px solid white;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  margin-top: 20px;
}

svg {
  color: #5c7998;
}

input {
  height: 16px;
  line-height: 16px;
  font-size: 14px;
  padding: 5px;
  margin-top: 6px;
}

select {
  font-size: 16px;
  margin-top: 6px;
}
h2 {
  margin-bottom: 5px;
}

.Logo {
  padding-left: 20px;
  font-size: 30px;
  color: #fff338;
}

.App {
  margin: 1rem;
  font-family: Arial, Helvetica, sans-serif;
}

.appHouse {
  background-color: #1f2d3c;
  color: white;
  padding: 10px;
}

.dashboardComponent {
  height: 410px;
}

.totalRuns {
  text-align: center;
}

.totalRunNum {
  font-size: 80px;
}

.totalMileNum {
  font-size: 80px;
}

.totalMiles {
  text-align: center;
  margin-top: 20px;
}

.leftCol {
  float: left;
  border-right: 1px solid #436182;
  height: 310px;
  width: 33%;
}

.rightCol {
  float: left;
  padding-top: 90px;
  width: 50%;
}

.addRunComponent {
  padding-left: 60px;
  height: 410px;
}

.runHistoryComponent {
  padding-left: 50px;
  height: 410px;
}

.percentTrail {
  text-align: center;
  float: left;
  padding-left: 10%;
  padding-right: 10%;
}

.totalPercentTrail {
  font-size: 50px;
}

.percentCity {
  text-align: center;
  float: left;
  padding-right: 10%;
}

.totalPercentCity {
  font-size: 50px;
}

.percentIndoor {
  text-align: center;
  float: left;
}

.totalPercentIndoor {
  font-size: 50px;
}

table {
  padding: 20px;
}

th {
  width: 31%;
}

td {
  text-align: left;
  padding-top: 10px;
}

tr {
  text-align: left;
}

.navBar {
  border-top: 1px solid #79b1c3;
  padding-left: 30px;
}

.navBar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color :#44708a;
  border-radius: 0 0 10px 10px;
  display: inline-block;
}

.navBar li {
  float: left;
}

.navBar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-weight: bold;
}

.navBar li a:hover {
  background-color: #111;
}

.customMiddleLink {
  border-left: 1px solid #79b1c3;
  border-right: 1px solid #79b1c3;
}