.App {
  margin: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  /*color: blue;*/
}

.dashboardComponent {
  border: 1px solid blue;
  margin: 10px;
  padding: 10px;
}

.addRunComponent {
  border: 1px solid green;
  margin: 10px;
  padding: 10px;
}

.runHistoryComponent {
  border: 1px solid orange;
  margin: 10px;
  padding: 10px;
}

td {
  padding: 10px;
}

tr {
  padding: 10px;
}
